body.logged-in {
    .my-profile-menu {
        width: 300px;
        padding: 15px;
        .wrapper {
            border: 1px solid #f3f3f3;
            padding-top: 20px;
            padding-bottom: 20px;
            @include box-shadow(0px 0px 10px 2px #f3f3f3);
            .avatar-and-name {
                padding-left: 15px;
                padding-right: 15px;
                figure {
                    width: 40px;
                    overflow: hidden;
                    @include rounded(50%);
                }
                .welcome-name {
                    width: calc(100% - 40px);
                    padding-left: 10px;
                }
            }
            nav {
                li {
                    a {
                        display: block;
                        font-size: 16px;
                        padding: 10px;
                        color: $dark_color;
                        border-left: 3px solid transparent;
                        @include simple_transition(.3s);
                        &.active {
                            border-left: 3px solid $blue_green_color;
                            background: #f0f9ff;
                            color: $blue_green_color;
                        }
                        &:hover {
                            border-left: 3px solid $blue_green_color;
                            background: #f0f9ff;
                            color: $blue_green_color;
                        }
                        figure {
                            padding-right: 10px;
                            padding-left: 10px;
                            vertical-align: middle;
                            img {
                                width: 20px;
                            }
                        }
                        span {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .my-profile-page-content {
        width: calc(100% - 300px);
        padding: 15px;
        font-size: 16px;
        .profile-page-title {
            font-size: 0;
            img {
                width: 30px;
            }
            h2 {
                width: calc(100% - 30px);
                padding-left: 15px;
            }
        }
        form#patient-update-profile {
            .form-row {
                > label {
                    width: 160px;
                    text-align: left;
                    padding-right: 15px;
                }
                .custom-input {
                    width: calc(100% - 160px);
                }
                .avatar {
                    width: 150px;
                }
            }
        }
    }
}

.contract-creation-steps-container {
    font-size: 0;
    button {
        width: calc(25% - 37.5px);
        font-size: 16px;
    }
    .separator {
        width: 50px;
        height: 2px;
        background-color: $light_blue_green_color;
    }
}

.bootbox {
    &.invite-dentists-popup {
        .modal-dialog {
            width: 100%;
            max-width: 800px;
            .modal-body {
                padding: 20px 50px;
                position: relative;
                .bootbox-close-button {
                    float: none;
                    margin-top: auto !important;
                    position: absolute;
                    top: 0;
                    font-size: 40px;
                    right: 15px;
                }
                .single-line {
                    border-bottom: 1px solid #b7b7b7;
                    label {
                        color: #777777;
                    }
                }
            }
        }
    }
}