body.logged-in {
    .my-profile-menu {
        width: 300px;
        padding: 15px;
        .wrapper {
            border: 1px solid #f3f3f3;
            padding-top: 20px;
            padding-bottom: 20px;
            @include box-shadow(0px 0px 10px 2px #f3f3f3);
            .avatar-and-name {
                padding-left: 15px;
                padding-right: 15px;
                figure {
                    width: 40px;
                    overflow: hidden;
                    @include rounded(50%);
                }
                .welcome-name {
                    width: calc(100% - 40px);
                    padding-left: 10px;
                }
            }
            nav {
                li {
                    a {
                        display: block;
                        font-size: 16px;
                        padding: 10px;
                        color: $dark_color;
                        border-left: 3px solid transparent;
                        @include simple_transition(.3s);
                        &.active {
                            border-left: 3px solid $blue_green_color;
                            background: #f0f9ff;
                            color: $blue_green_color;
                        }
                        &:hover {
                            border-left: 3px solid $blue_green_color;
                            background: #f0f9ff;
                            color: $blue_green_color;
                        }
                        figure {
                            padding-right: 10px;
                            padding-left: 10px;
                            vertical-align: middle;
                            img {
                                width: 20px;
                            }
                        }
                        span {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .my-profile-page-content {
        width: calc(100% - 300px);
        padding: 15px;
        font-size: 16px;
        .profile-page-title {
            font-size: 0;
            img {
                width: 30px;
            }
            h2 {
                width: calc(100% - 30px);
                padding-left: 15px;
            }
        }
        form#patient-update-profile {
            .form-row {
                > label {
                    width: 160px;
                    text-align: left;
                    padding-right: 15px;
                }
                .custom-input {
                    width: calc(100% - 160px);
                }
                .avatar {
                    width: 150px;
                }
            }
        }
    }
}

.contract-creation-steps-container {
    font-size: 0;
    button {
        width: calc(25% - 37.5px);
        font-size: 16px;
        padding: 10px 20px;
        font-family: 'Calibri-Bold';
        display: inline-block;
        @include rounded(4px);
        &.not-passed {
            background-color: white;
            color: $blue_green_color;
            border: 2px solid $light_blue_green_color;
            @include simple_transition(.3s);
            &:hover {
                color: white;
                background-color: $blue_green_color;
                border: 2px solid $blue_green_color;
            }
        }
        &.not-allowed-cursor {
            cursor: not-allowed;
            &:hover {
                background-color: white !important;
                color: $blue_green_color !important;
                border: 2px solid $light_blue_green_color !important;
            }
        }
        &.passed {
            background-color: $light_blue_green_color;
            color: $blue_green_color;
            border: 2px solid $light_blue_green_color;
            background-image: url(/assets/images/check.svg);
            background-repeat: no-repeat;
            background-size: 15px auto;
            background-position: center left 15px;
        }
        &.active {
            color: white;
            background-color: $blue_green_color;
            border: 2px solid $blue_green_color;
            cursor: context-menu;
        }
    }
    .separator {
        width: 50px;
        height: 2px;
        background-color: $light_blue_green_color;
    }
}

.bootbox {
    &.invite-dentists-popup {
        .modal-dialog {
            width: 100%;
            max-width: 800px;
            .modal-body {
                padding: 20px 50px;
                position: relative;
                .bootbox-close-button {
                    float: none;
                    margin-top: auto !important;
                    position: absolute;
                    top: 0;
                    font-size: 40px;
                    right: 15px;
                }
                .single-line {
                    border-bottom: 1px solid #b7b7b7;
                    label {
                        color: #777777;
                    }
                }
            }
        }
    }
}

.line-crossed-title {
    position: relative;
    span {
        background-color: white;
        padding-right: 10px;
    }
    &:after {
        content: '';
        height: 3px;
        left: 0;
        z-index: -1;
        width: 100%;
        background-color: black;
        @include vertical-align(absolute);
    }
}

.ready-to-purchase-with-external-api {
    .border-light-gray {
        margin-bottom: 20px;
        border-bottom: 1px solid #e4e4e4;
    }
    nav {
        font-size: 0;
        ul {
            li {
                width: 50%;
                a {
                    display: block;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: #dddddd;
                    color: #555555;
                    text-align: center;
                    font-size: 20px;
                    font-family: 'Calibri-Bold';
                    @include rounded(4px);
                    &.active {
                        color: white;
                        background-color: $blue_green_color;
                    }
                }
            }
        }
    }
    .checkbox-container {
        .pretty.on-white-background.p-svg .state .svg {
            top: 0;
            border-color: $blue_green_color !important;
        }
        .pretty.on-white-background .state label:after, .pretty.on-white-background .state label:before {
            top: 0;
        }
        label {
            a {
                color: $blue_green_color !important;
            }
        }
    }
}