.invite-dentists-container {
    .my-profile-page-content {
        background-image: url(/assets/uploads/dentacoin-symbol-background.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}