section.contract-proposal {
    .wrapper {
        .review-step {
            &.one {
                .singatures-row {
                    padding: 0 10px 40px;
                    .dentist-sign {
                        width: 40%;
                        figcaption {
                            text-align: right;
                            font-style: italic;
                        }
                    }
                    .signature-wrapper {
                        width: 40%;
                        margin-left: 20%;
                        text-align: right;
                        canvas {
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}