.invite-dentists-container {
    .my-profile-page-content {
        .dcn-background {
            background-image: url(/assets/uploads/dentacoin-symbol-background.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom center;
            .custom-input {
                max-width: 450px;
            }
        }
        .invited-dentists-list {
            table {
                width: 100%;
                td, th {
                    padding: 8px;
                }
                tbody {
                    tr {
                        border-top: 1px solid #bfbfbf;
                    }
                }
            }
        }
    }
}