.white-blue-green-btn {
    font-size: 20px;
    color: white;
    background-color: $blue_green_color;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $blue_green_color;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $blue_green_color;
        background-color: white;
    }
    &:focus {
        color: white;
    }
}

.white-red-btn {
    font-size: 20px;
    color: $cancelled;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $cancelled;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $cancelled;
    }
    &:focus {
        color: $cancelled;
    }
}

.blue-green-white-btn {
    font-size: 20px;
    color: $blue_green_color;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $blue_green_color;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $blue_green_color;
    }
    &:focus {
        color: $blue_green_color;
    }
}

.light-blue-green-white-btn {
    font-size: 20px;
    color: $blue_green_color;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $light_blue_green_color;
    display: inline-block;
    @include rounded(4px);
}

.white-transparent-btn {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    font-family: 'Lato-Regular';
    border: 2px solid white;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $blue_green_color;
        background-color: white;
    }
    &:focus {
        color: white;
    }
}

.social-login-btn {
    background-color: white;
    width: 100%;
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 10px 15px 10px 70px;
    max-width: 350px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center left 15px;
    @include rounded(4px);
    &.civic-custom-btn {
        background-image: url(/assets/uploads/civic.svg);
    }
    &.facebook-custom-btn {
        background-image: url(/assets/uploads/facebook.svg);
    }
}

.module  {
    &.dentist-or-patient-section {
        .inline-block-top {
            picture {
                img {
                    width: 100%;
                }
            }
            &:hover {
                .hidden-container {
                    opacity: 1;
                }
            }
            .hidden-container {
                position: absolute;
                display: block;
                background-color: rgba(18,101,133, 0.7);
                width: calc(100% - 15px);
                top: 0;
                height: 100%;
                opacity: 0;
                overflow: hidden;
                @include simple_transition(.3s);
                a {
                    @include vertical-horizontal-align(absolute);
                }
                .hidden-label {
                    display: none;
                    @include vertical-horizontal-align(absolute);
                    &:hover {
                        color: white;
                        background-color: transparent;
                    }
                }
            }
            &.right {
                .hidden-container {
                    right: 0;
                    @include rounded(4px 0 0 4px);
                }
            }
            &.left {
                .hidden-container {
                    left: 0;
                    @include rounded(0 4px 4px 0);
                }
            }
        }
    }
    &.intro-section {
        position: relative;
        .absolute-container {
            @include vertical-horizontal-align(absolute);
            picture {
                img {
                    width: 100%;
                }
            }
        }
    }
    &.easy-fast-steps-section {
        .line {
            width: 2px;
            height: 100%;
            background-color: black;
            position: absolute;
            top: 0;
            right: 0;
            .bullet {
                width: 15px;
                height: 15px;
                border: 2px solid white;
                background-color: black;
                @include vertical-horizontal-align(absolute);
                @include rounded(50%);
            }
        }
    }
    &.section-ideal-use-cases {
        &.background {
            background-image: url(/assets/uploads/shield-background.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .custom-container {
            figure {
                padding-top: 20px;
                padding-bottom: 20px;
                width: calc(50% - 30px);
            }
            .line-and-bullet {
                width: 60px;
                .line {
                    width: 2px;
                    margin: 0 auto;
                    height: 100%;
                    background-color: black;
                    position: relative;
                    .bullet {
                        width: 15px;
                        height: 15px;
                        border: 2px solid white;
                        background-color: black;
                        @include vertical-horizontal-align(absolute);
                        @include rounded(50%);
                    }
                }
            }
            .content {
                width: calc(50% - 30px);
                position: relative;
                .wrapper {
                    width: 80%;
                    @include vertical-horizontal-align(absolute);
                }
            }
        }
    }
    &.avatar {
        input[type="file"] {
            display: none;
        }
        button {
            display: block;
            width: 100%;
            padding: 0;
            border: 0;
            margin: 0;
            label {
                background-color: #e3e3e3;
                border: 2px dashed #777777;
                color: #777777;
                width: 100%;
                padding-top: 100%;
                display: block;
                position: relative;
                text-align: center;
                margin-bottom: 0;
                cursor: pointer;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                .inner {
                    left: 0;
                    width: 100%;
                    @include vertical-align(absolute);
                    i {
                        font-size: 30px;
                    }
                    .inner-label {
                        font-size: 18px;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
    &.step-fields {
        .single-row {
            border-bottom: 1px solid $light_gray;
            @include simple_transition(.3s);
            &:hover {
                border-bottom: 1px solid $blue_green_color;
            }
            &.row-with-error {
                border-bottom: 1px solid #ff8d8d;
            }
            &.flex-row {
                display: flex;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            label {
                width: 40%;
                font-weight: normal;
                padding-top: 15px;
                .error-in-label {
                    color: #ff8d8d;
                    font-size: 14px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    display: block;
                }
            }
            .right-field {
                width: 60%;
                padding: 20px 10px;
                border: 0;
                @include box-shadow(none);
            }
            .with-error {
                background-color: #ff8d8d;
                background-image: none;
                @include rounded(0);
            }
            .right-extra-field {
                width: 60%;
                padding: 20px 10px;
            }
            input.right-field {
                cursor: pointer;
                &:focus {
                    cursor: text;
                    background-color: #eaeaea;
                    background-image: none;
                    @include rounded(0);
                }
            }
        }
    }
    &.contract-proposal {
        .wrapper {
            padding: 0 15%;
            position: relative;
            @include box-shadow(0px 3px 90px -10px rgba(0, 0, 0, 0.4));
            @include rounded(6px);
            .right-extra-field {
                label {
                    width: 100%;
                    white-space: normal;
                    line-height: 20px;
                }
            }
            .top-right-page-alike {
                border-left: 90px solid #f2f4f6;
                border-top: 90px solid #d6dbe2;
                position: absolute;
                top: 0;
                right: 0;
                @include rounded(0 6px 0 0);
            }
            h3 {
                border-bottom: 1px dashed black;
                padding-bottom: 10px;
            }
            .single-row {
                label {
                    padding-bottom: 15px;
                }
            }

            .pretty input[disabled]~* {
                opacity: 1;
            }
            .pretty {
                svg.svg {
                    top: 0;
                }
            }
            .pretty.on-white-background .state label:after, .pretty.on-white-background .state label:before {
                top: 0;
            }
            .pretty label {
                padding-top: 0;
            }
            .pretty.on-white-background.p-svg .state .svg {
                border-color: $blue_green_color !important;
            }
            .blurred-contract-terms-container {
                position: relative;
                .show-login-signin {
                    @include box-shadow(0px 3px 70px 50px rgba(255, 255, 255, 0.8));
                    @include vertical-horizontal-align(absolute);
                }
            }
            .terms-and-conditions-long-list {
                height: 350px;
            }
            .mCSB_inside > .mCSB_container {
                margin-right: 35px !important;
            }
            .mCSB_scrollTools {
                right: 8px !important;
            }
            .mCSB_scrollTools .mCSB_draggerRail {
                width: 10px !important;
                background-color: #9dadbc !important;
            }
            .mCSB_scrollTools .mCSB_dragger {
                width: 30px !important;
                height: 30px !important;
                min-height: auto !important;
                @include horizontal-align(absolute);
                @include rounded(50%);
            }
            .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
                width: 20px !important;
                height: 20px !important;
                background-color: white !important;
                top: 5px !important;
                @include box-shadow(rgba(0, 0, 0, 0.4) 0px 0px 3px 3px);
            }
            .checkbox-container {
                width: 100%;
                max-width: 360px;
                margin: 0 auto;
                .pretty.on-white-background.p-svg .state .svg {
                    top: 0;
                }
                .pretty.on-white-background .state label:after, .pretty.on-white-background .state label:before {
                    top: 0;
                }
                label {
                    a {
                        color: $blue_green_color;
                    }
                }
            }
        }
    }
    &.contract-tile {
        padding-left: 10px;
        padding-right: 10px;
        .tile-wrapper {
            background-color: white;
            padding: 15px;
            @include rounded(6px);
            @include box-shadow(0 2px 6px 0 rgba(0,0,0,.4));
            figure {
                width: 120px;
                overflow: hidden;
                @include rounded(6px);
                figcaption {
                    display: block;
                    color: white;
                }
            }
            .contract-info {
                width: calc(100% - 120px);
                padding-left: 15px;
                .btn-container {
                    text-align: right;
                    .white-blue-green-btn {
                        font-size: 16px;
                        padding: 0 6px;
                    }
                }
            }
        }
        &.pending {
            .tile-wrapper {
                figure {
                    figcaption {
                        background-color: $pending;
                    }
                }
            }
        }
        &.active {
            .tile-wrapper {
                figure {
                    figcaption {
                        background-color: $active;
                    }
                }
            }
        }
        &.awaiting-payment, &.awaiting-approval {
            .tile-wrapper {
                figure {
                    figcaption {
                        background-color: $awaiting_payment_awaiting_approval;
                    }
                }
            }
        }
        &.cancelled {
            .tile-wrapper {
                figure {
                    figcaption {
                        background-color: $cancelled;
                    }
                }
            }
        }
    }
    &.signature-wrapper {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        canvas {
            width: 100%;
            height: 200px;
            background-color: white;
            @include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.5));
        }
    }
    &.contract-single-page-nav {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        li {
            padding: 0 10px;
            a {
                color: $dark_color;
                i {
                    &.fa.fa-times {
                        color: red;
                    }
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &.single-contract-tile {
        .contract-participant {
            @include rounded(6px);
            @include box-shadow(0 2px 6px 0 rgba(0,0,0,.4));
            figure {
                height: 100px;
                position: relative;
                img {
                    height: 100%;
                    width: auto;
                    max-width: none;
                    @include rounded(6px);
                    @include horizontal-align(absolute);
                }
            }
        }
        .contract-body {
            padding-left: 0;
            padding-right: 0;
            .clock {
                display: inline-block;
                text-align: center;
                width: auto;
                margin: 0;
                padding-bottom: 20px;
                .flip-clock-label {
                    color: white;
                    font-size: 12px;
                    text-transform: uppercase;
                    bottom: -15px;
                    top: auto;
                }
                .flip-clock-divider {
                    height: 60px;
                    .flip-clock-dot {
                        background: #438199;
                        width: 7px;
                        height: 7px;
                        &.bottom {
                            bottom: auto;
                            top: 35px;
                        }
                        &.top {
                            top: 20px;
                        }
                    }
                    &.days {
                        .flip-clock-label {
                            right: -65px;
                        }
                    }
                    &.hours {
                        .flip-clock-label {
                            right: -73px;
                        }
                    }
                    &.minutes {
                        .flip-clock-label {
                            right: -77px;
                        }
                    }
                }
                ul {
                    width: 40px;
                    height: 50px;
                    li {
                        line-height: 50px;
                        .inn {
                            font-size: 40px;
                            background: #438199;
                        }
                    }
                }
            }
        }
        .contract-footer {
            .wrapper {
                @include rounded(0 0 20px 20px);
                @include box-shadow(0 2px 6px 0 rgba(0,0,0,.4));
            }
        }
        &.pending {
            .contract-header {
                &.pending {
                    background-color: $pending;
                }
                &.active {
                    background-color: $active;
                }
                &.awaiting-payment, &.awaiting-approval {
                    background-color: $awaiting_payment_awaiting_approval;
                }
                &.cancelled {
                    background-color: $cancelled;
                }
            }
        }
    }
}