$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;

$dark_color: #212121;
$blue_green_color: #126585;
$light_blue_green_color: #c9dfe7;
$beige_color: #fafafa;
$solid_gray: #f2f2f2;
$light_gray: #888888;

$pending: #29adde;
$active: #239234;
$awaiting_payment_awaiting_approval: #239289;
$cancelled: #e92f30;

.dark-color {
    color: $dark_color;
}

.light-gray-color {
    color: $light_gray;
}

.light-gray-color-background {
    background-color: $light_gray;
}

.solid-gray-color {
    color: $solid_gray;
}

.solid-gray-color-background {
    background-color: $solid_gray;
}

.dark-color-background {
    background-color: $dark_color;
}

.blue-green-color {
    color: $blue_green_color;
}

.blue-green-color-background {
    background-color: $blue_green_color;
}

.beige-color {
    color: $beige_color;
}

.beige-background {
    background-color: $beige_color;
}

.white-color {
    color: white;
}

.black-color {
    color: black;
}

.white-color-background {
    background-color: white;
}