.forgotten-password-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 center;
    background-image: url(/assets/uploads/logged-patient-no-contracts-background.jpg);
    form {
        background-color: white;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        @include rounded(20px);
        @include box-shadow(0 2px 6px 0 rgba(0,0,0,.4));
    }
}