body.home {
    .dentist-or-patient-section {
        .inline-block-top.left {
            .hidden-container {
                opacity: 1;
                .hidden-label {
                    display: block;
                }
                a {
                    display: none;
                }
            }
        }
    }
    .fixed-calculate-button {
        bottom: 0;
        @include horizontal-align(fixed);
    }
}

.testimonials-section {
    picture {
        &:after {
            content: url(/assets/uploads/quote-bg.svg);
            position: absolute;
            top: 20%;
            left: 100%;
            width: 150px;
        }
    }
    .testimonials-slider {
        .single-testimonial {
            padding: 0 15px;
            height: auto;
            .description {
                font-size: 20px;
                color: #3e3e3e;
                font-style: italic;
                padding-bottom: 25px;
            }
            .img-title-job {
                min-height: 70px;
                figure {
                    border: 2px solid #000;
                    width: 65px;
                    height: 65px;
                    overflow: hidden;
                    position: relative;
                    @include rounded(50%);
                    img {
                        @include vertical-horizontal-align(absolute);
                    }
                }
                .title-job {
                    width: calc(100% - 65px);
                    padding-left: 10px;
                    .title {
                        font-size: 25px;
                        font-family: 'Calibri-Bold';
                    }
                    .job {
                        color: #777777;
                        font-size: 16px;
                        font-family: 'Calibri Light';
                    }
                }
            }
        }
    }
}

.start-smart-today-section {
    form {
        .form-row {
            padding-bottom: 15px;
            input, select {
                display: block;
                padding: 0 10px;
                font-size: 18px;
                border: 1px solid #ccc;
                width: calc(100% - 10px);
                margin-left: 5px;
                margin-right: 5px;
                height: 40px;
                max-width: none;
                @include rounded(4px);
            }
        }
    }
}