.section-support-guide-slider-section {
    .support-guide-slider {
        .single-slide {
            padding-left: 20px;
            padding-right: 20px;
            figure {
                background-color: white;
                @include box-shadow(0 2px 6px 0 rgba(0,0,0,.2));
                @include rounded(4px);
            }
            .number {
                font-size: 34px;
                font-family: 'Calibri-Bold';
                padding-top: 5px;
                color: black;
                border-bottom: 1px solid #6d6d6d;
            }
            .description {
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
                position: relative;
                .wrapper {
                    padding: 15px;
                    background-color: #f2f2f2;
                    font-size: 16px;
                    color: black;
                    min-height: 125px;
                    @include box-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
                }
                .custom-triangle {
                    width: 0;
                    height: 0;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-bottom: 11px solid black;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    @include rotate(45deg);
                }
                .custom-circle {
                    width: 13px;
                    height: 13px;
                    background-color: black;
                    position: absolute;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    @include rounded(50%);
                }
            }
        }
    }
}

.section-support-guide-list {
    .section-row {
        > ul {
            padding-left: 20px;
            > li {
                .question {
                    padding: 15px 40px 15px 20px;
                    margin-bottom: 15px;
                    background-image: url(/assets/images/angle-down-solid.svg);
                    background-repeat: no-repeat;
                    background-size: 15px auto;
                    background-position: center right 20px;
                    display: block;
                    color: black;
                    font-family: 'Lato-Regular';
                    @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.2));
                    span {
                        color: $blue_green_color;
                        display: inline-block;
                        padding-right: 10px;
                        font-family: 'Calibri-Bold';
                    }
                }
                .question-content {
                    display: none;
                    ul {
                        li {
                            list-style: disc inside none;
                        }
                    }
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@include breakpoint($xs) {
    .section-support-guide-list {
        .section-row {
            ul {
                padding-left: 0;
                li {
                    .question {
                        padding: 15px 30px 15px 10px;
                        background-position: center right 10px;
                    }
                }
            }
        }
    }
}